body {
}

.app-header {
    background-color: #ECEFF1 !important;
    height: 60px !important;
}

.app-small-text {
    font-size: 0.70em;
    margin: 0px;
}

.app-error-text {
    font-size: 0.85em;
    color: #e12a2a;
    padding-bottom: 12px;
}

.app-input-hint {
    font-size: 0.75em;
    margin-top: 6px;
}

.app-table-details {
    width: 100%;
}

.app-table-details-label {
    width: 30%;
    vertical-align: text-top;
}

.app-table-details-data {
    width: auto;
    vertical-align: text-top;
}