<md-dialog ng-controller="labelController" ng-init="init()" class="modal-dialog app-modal-window" aria-label="Edit label information" style="width: 800px;">
    <form name="labelForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit label information</h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content layout="row" flex>

                    <div flex="45">
                        <p class="md-body-1">All fields are required.</p>
                        <section layout="column" flex>
                            <md-input-container class="md-block">
                                <label>Name</label>
                                <input type="text" name="name" ng-model="context.name" required maxlength="64">
                            </md-input-container>
                        </section>
                        <section layout="column" flex>
                            <md-input-container class="md-block">
                                <label>Country</label>
                                <input type="text" ng-model="context.country" required maxlength="32">
                            </md-input-container>
                        </section>
                        <section layout="column" flex>
                            <md-input-container class="md-block">
                                <label>Email</label>
                                <input type="email" ng-model="context.email" required maxlength="128">
                            </md-input-container>
                        </section>
                        <section layout="column" flex>
                            <md-input-container class="md-block">
                                <label>Telecom</label>
                                <input type="text" ng-model="context.telecom" maxlength="32">
                            </md-input-container>
                        </section>
                    </div>

                    <div flex="45">
                        <p class="md-body-1">&nbsp;</p>
                        <section layout="column" flex>
                            <md-input-container class="md-block">
                                <label>Address</label>
                                <textarea ng-model="context.addressLines" maxlength="96"></textarea>
                            </md-input-container>
                        </section>
                        <section layout="column" flex>
                            <md-input-container class="md-block">
                                <label>District</label>
                                <input type="text" ng-model="context.district" maxlength="32">
                            </md-input-container>
                        </section>
                        <section layout="row" flex>
                            <md-input-container class="md-block" flex="45">
                                <label>Postal code</label>
                                <input type="text" ng-model="context.postalCode" maxlength="16">
                            </md-input-container>
                            <md-input-container class="md-block" flex="45">
                                <label>Citry</label>
                                <input type="text" ng-model="context.city" maxlength="32">
                            </md-input-container>
                        </section>
                        <section layout="column">
                            <md-input-container class="md-block">
                                <label>State</label>
                                <input type="text" ng-model="context.state" maxlength="32">
                            </md-input-container>
                        </section>
                        <section layout="column" flex>
                            <md-input-container class="md-block">
                                <label>Country</label>
                                <input type="text" ng-model="context.country" required maxlength="32">
                            </md-input-container>
                        </section>
                    </div>

                </md-content>
            </div>
        </md-dialog-content>
    </form>
    <md-dialog-actions>
        <md-button class="md-primary md-raised" ng-click="update();setContext(null)"><md-icon>check</md-icon></md-button>
        <md-button ng-controller="dialogController" ng-click="setContext(null);closeDialog()" class="md-primary">Close</md-button>
    </md-dialog-actions>
</md-dialog>