<div ng-controller="artistController" ng-init="init()">

    <div layout="row" flex>

        <md-card flex>
            <md-card-header>
                <md-card-header-text layout="row" flex>
                    <span class="md-title">{{context.stageName}}</span>
                    <span flex></span>
                    <md-button class="md-fab md-mini" md-colors="{background: 'BlueGrey-400'}" ng-controller="dialogController" ng-click="showDialog($event, '/app/views/artist/dialogs/artist_edit.html')"><md-icon style="color:#ffffff;">edit</md-icon></md-button>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <table class="app-table-details">
                    <tbody>
                        <tr>
                            <td class="app-table-details-label">Name</td>
                            <td class="app-table-details-data">{{context.name.text}}</td>
                        </tr>
                        <tr>
                            <td class="app-table-details-label">Address</td>
                            <td class="app-table-details-data">
                                <span ng-repeat="l in context.address.line">{{l}}, </span>
                                <span ng-if="context.address.district != null">{{context.address.district}}, </span>
                                <span ng-if="context.address.postalCode != null">{{context.address.postalCode}} </span>
                                <span ng-if="context.address.city != null">{{context.address.city}}</span>
                                <span ng-if="context.address.state != null">, {{context.address.state}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="app-table-details-label">Country</td>
                            <td class="app-table-details-data">{{context.address.country}}</td>
                        </tr>
                        <tr>
                            <td class="app-table-details-label">Email</td>
                            <td class="app-table-details-data">{{context.email}}</td>
                        </tr>
                        <tr>
                            <td class="app-table-details-label">Telecom</td>
                            <td class="app-table-details-data">{{context.telecom}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-card-content>
        </md-card>

        <md-card flex="35">
            <md-card-header>
                <md-card-header-text layout="row" flex>
                    <span class="md-title">Accounts</span>
                    <span flex></span>
                    <md-button class="md-fab md-mini" md-colors="{background: 'Green-400'}" ng-controller="dialogController" ng-click="showDialog($event, '/app/views/artist/dialogs/account_add.html')"><md-icon style="color:#ffffff;">add</md-icon></md-button>
                </md-card-header-text>
            </md-card-header>
            <md-card-content ng-controller="accountController" ng-init="init()">
                <md-list flex>
                    <md-list-item class="md-3-line" ng-repeat="account in accounts | orderBy: 'name'">
                        <div class="md-list-item-text" layout="column">
                            <h4>{{account.name}}</h4>
                            <p>{{account.label.name}}</p>
                            <p>Balance: ${{account.balance}} (USD)</p>
                            <md-button class="md-secondary md-icon-button" ng-if="account.balance == 0" ng-click="delete($event, account.identifier)"><md-icon md-colors="{color: 'Red-700'}">delete</md-icon></md-button>
                        </div>
                        <md-divider ng-if="!$last"></md-divider>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>        

    </div>

    <div layout="row" flex>

        <md-card flex>
            <md-card-header>
                <md-card-header-text layout="row" flex>
                    <span class="md-title">Invoices</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p><i>No data.</i></p>
            </md-card-content>
        </md-card>

    </div>

</div>
