<div ng-controller="artistController">

    <div layout="row" flex>

        <md-card flex="30">
            <md-card-content>
                <form>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Search for artist(s)</label>
                        <input type="text" id="artist-search-q" ng-model="q">
                    </md-input-container>
                    <md-button class="md-primary md-raised" ng-click="find(q)"><md-icon>search</md-icon></md-button>
                </form>
            </md-card-content>
        </md-card>

        <md-card flex>
            <md-card-header>
                <md-card-header-text layout="row" flex>
                    <span class="md-title">Artist Management</span>
                    <span flex></span>
                    <md-button class="md-fab md-mini md-primary" md-colors="{background: 'Green-400'}" ng-controller="dialogController" ng-click="showDialog('dialog-create-artist')"><md-icon style="color:#ffffff;">add</md-icon></md-button>
                </md-card-header-text>
            </md-card-header>
            <md-card-content id="artist-list">
                <md-list flex>
                    <md-subheader class="md-no-sticky">{{artists.length}} artist(s) found.</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="artist in artists | orderBy: 'stageName'" ng-click="null">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{artist.stageName}}</h3>
                            <h4>{{artist.name.text}} ({{artist.address.country}})</h4>
                            <p>Email: {{artist.email}}</p>
                            <md-button class="md-secondary" md-colors="{background: 'Red-700'}" ng-click="delete($event, artist.identifier)"><md-icon style="color:#ffffff;">delete</md-icon></md-button>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-card-content>
        </md-card>

    </div>

    <div style="visibility: hidden;">
        <div class="md-dialog-container" id="dialog-create-artist">
            <md-dialog class="modal-dialog app-modal-window" ng-cloak aria-label="Artist" style="width: 500px;">
                <form name="artistForm">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2>Add new artist</h2>
                            <span flex></span>
                        </div>
                    </md-toolbar>
                    <md-dialog-content>
                        <div class="md-dialog-content">
                            <md-content>
                                <p class="md-body-1">All fields are required.</p>
                                <section layout="column" flex="90">
                                    <md-input-container class="md-block">
                                        <label>Stagename</label>
                                        <input type="text" name="stageName" ng-model="artist.stageName" required md-maxlength="35">
                                        <div class="app-input-hint">The name used by the artist when producing or performing.</div>
                                        <div ng-messages="artistForm.stageName.$error" ng-show="artistForm.stageName.$dirty">
                                            <div ng-message="md-maxlength">The maximum length of stagename is 35 characters.</div>
                                        </div>
                                    </md-input-container>
                                </section>
                                <section layout="row" flex>
                                    <md-input-container class="md-block" flex="45">
                                        <label>Firstname</label>
                                        <input type="text" ng-model="artist.givenName" required>
                                    </md-input-container>
                                    <md-input-container class="md-block" flex="45">
                                        <label>Lastname</label>
                                        <input type="text" ng-model="artist.familyName" required>
                                    </md-input-container>
                                </section>
                                <section layout="column" flex="90">
                                    <md-input-container class="md-block">
                                        <label>Country</label>
                                        <input type="text" ng-model="artist.country" required>
                                    </md-input-container>
                                </section>
                                <section layout="column" flex="90">
                                    <md-input-container class="md-block">
                                        <label>Email</label>
                                        <input type="email" ng-model="artist.email" required>
                                    </md-input-container>
                                </section>
                            </md-content>
                        </div>
                    </md-dialog-content>
                </form>            
                <md-dialog-actions>
                    <md-button class="md-primary md-raised" ng-click="create(artist)"><md-icon>check</md-icon></md-button>
                    <md-button ng-controller="dialogController" ng-click="closeDialog()" class="md-primary">Close</md-button>
                </md-dialog-actions>
            </md-dialog>
        </div>
    </div>

</div>